/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

/* Text styles */
h1 {
  font-family: Roboto;
  font-size: 100px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Subtitle1 {
  font-family: Roboto;
  font-size: 100px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Body-1 {
  font-family: Roboto;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
h2 {
  font-family: Roboto;
  font-size: 85px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Subtitle-2 {
  font-family: Roboto;
  font-size: 85px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Body2 {
  font-family: Roboto;
  font-size: 85px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
h3 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Subtitle-3 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Body-3 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Body-4 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}


.top-nav {
  display: flex;
  max-width: 500px;
  padding: 1.25%;
  height: 50px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  padding: 1%;
  margin: auto;
  margin-top: 10px;

}

.top-nav a {
  border: ;
  width: 100px;
  margin: auto;
  text-decoration: none;
  color: black;
  border-right: 1px solid black;
  padding: 10px;
  height: 50px;
  font-size: 1.5rem;
}

.top-nav a:hover {
  background: dodgerblue;
}

a:last-child {
  border: none;
}


@media (min-width: 768px){
  .top-nav {
    max-width: 768px;
    padding: 0 1% 0 0;
  }
}

@media (min-width: 1000px){
  .containerMain {
    width: 800px;
  }

  .top-nav {
    max-width: 800px;
    padding: 0 1% 0 0;
  }

  .mainImg {
    max-width: 20%;
    height: 50px;
  }
}

.containerMain {
  max-width: 500px;
  padding: 10px 1.25%;
  height: 305px;
  margin: auto;
}

.header {
  display: flex;
  max-width: 500px;
  padding: 1%;
  margin: auto;
  margin-top: 80px;
  margin-left: 20px;
  flex-direction: row;
}

.mainImg {
  max-width: 50%;
}

.insideHeader {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  max-width: 100%;
  padding: 1%;


}

.insideHeader img {
  max-width: 85%;
}

.insideHeader p {
  max-width: 85%;
  padding: 5%;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: bold;
  font-style:bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #596b69;
}

@media (min-width: 768px){
  .containerMain {
    max-width: 768px;
    padding: 0 1% 0 0;
  }

  .header {
    max-width: 768px;
    padding: 1%;
  }

  .mainImg {
    max-width: 50%;
    height: 300px;
  }
}

@media (min-width: 1000px){
  .containerMain {
    max-width: 800px;
    padding: 0 1% 0 0;
  }

  .header {
    max-width: 800px;
    padding: 1%;
  }
}


/* <!-- MAIN SECTION code start here--> */
.container {
  max-width: 500px;
  background: #FCDBD4;
  margin: 0 auto;
}

.top-image {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-left: 40px;
}

.main_paragraph_content {
  display: flex;
  width: 400px;
  margin-left: 65px;
  color: #a6a8ab;
}

.attention_caller p {
  display: flex;
  justify-content: center;
  color: #5B6E6A;
  font-size: 25px; 
  margin-left: 15px;
}

.bottom_img {
  width: 100%;
}

.btn-warning {
  margin-left: 120px;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
}

/* Begin Media Queries*/

/*Tablet View*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .top-image {
    display: flex;
    width: 675px;
  }

  .main_paragraph_content {
    width: 600px;
  }

  .btn-warning {
    margin-left: 150px;
    width: 400px;
    border: solid red 6px;
  }

  .bottom_img {
    width: 450px;
    margin-left: 135px;
  }
}

/*Desktop View*/
@media (min-width: 1000px) {
  footer {
    max-width: 800px;
    padding: 1%;
  }
}
/* <!-- MAIN SECTION end code here -->  */


footer {
  display: flex;
  max-width: 500px;
  padding: 0 1% 0 0;
  height: 175px;
  margin: auto;
  padding-top: 1%;
  padding-left: 2%;
  font-size: 2rem;
  flex-direction: column;
  background-color: #627e81;
  color: white;
  font-weight: bold;
}

footer img {
  display: flex;
  height: 75px;
  max-width: 150px;
  padding: 1%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copyright {
  font-size: 1.3rem;
  margin-top: -25px;
  height: 20px;
  display: flex;
  justify-content: left;
}

@media (min-width: 768px) {
  footer {
    max-width: 750px;
    padding: 1%;
  }
}

@media (min-width: 1000px) {
  footer {
    max-width: 800px;
    padding: 1%;
  }
}
