/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

/* Text styles */
h1 {
  font-family: Roboto;
  font-size: 100px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Subtitle1 {
  font-family: Roboto;
  font-size: 100px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Body-1 {
  font-family: Roboto;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
h2 {
  font-family: Roboto;
  font-size: 85px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Subtitle-2 {
  font-family: Roboto;
  font-size: 85px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Body2 {
  font-family: Roboto;
  font-size: 85px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
h3 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Subtitle-3 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Body-3 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}
.Body-4 {
  font-family: Roboto;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f0e17;
}



footer {
  display: flex;
  max-width: 500px;
  padding: 0 1% 0 0;
  height: 230px;
  margin: auto;
  margin-top: 30px;
  padding-top: 3%;
  padding-left: 2%;
  /* border: 1px solid red; */
  font-size: 2rem;
  flex-direction: column;
  background-color: #627e81;
  color: white;
  font-weight: bold;
}

footer img {
  display: flex;
  height: 90px;
  max-width: 150px;
  padding: 1%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copyright {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  footer {
    max-width: 768px;
    padding: 1%;
  }
}

@media (min-width: 1000px) {
  footer {
    max-width: 800px;
    padding: 1%;
  }
}
